<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyecto templates</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <section>
                    <h1>proyecto templates</h1>
                </section>

                <footer>

                    <a href="{% url 'usuario' %}">ver datos</a>
                    <a href="{% url 'catalogo' %}">ver catalogo</a>

                </footer>

            </div>
        </div>
    </div>

</body>

</html>